<html>
<body>
<div class="container" style= "margin-left:5%; margin-right:5%;  border:2px solid black; width:80%">
<header>

<div class="container">
<h1 style="margin-top:5px; margin-bottom:5px">
Timesheet Organization</h1>
</div>
</header>
<hr>

<div class="container" style="padding:10px;">
<b>Welcome $userName</b>
<p style="line-height:2">You have successfully created <b>$orgName</b> organization on Timesheet.<br>
now you can put your valuable report.
</p><br>

<b>Regards,</b><br>
<b>Timesheet Team</b>
</div>
<hr>
<footer style="padding:10px" align="center">&copy; 2020 Timesheet</footer>
</div>
</body>
</html>