<html>
<body>
<div class="container" style= "margin-left:5%; margin-right:5%;  border:2px solid black; width:80%">
<header>

<div class="container">
<h1 style="margin-top:5px; margin-bottom:5px  margin-right: 22em;">
<img style="width:30%;" src="http://dcsolar.cloubiot.com/app/img/dcSolar.png"  alt="DCSolar" /></h1>
</div>
</header>
<hr>

<div class="container" style="padding:10px;">
<b>Hi there!</b>
<p style="line-height:2">We have receive a request to get your password for DCSolar account.<br>
Your password is <b>$password</b>.<br>
If you did not request a new password, secure your account.<br>
See you soon on DCSolar</p>

<b>Regards,</b><br>
<b>DCSolar Team</b>
</div>
<hr>
<footer style="padding:10px" align="center">&copy; 2017 DCSolar</footer>
</div>
</body>
</html>