<html>
<body>
<div class="container" style= "margin-left:5%; margin-right:5%;  border:2px solid black; width:80%">
<header>

<div class="container">
<h1 style="margin-top:5px; margin-bottom:5px">
<img style="width:30%" src="http://dcsolar.cloubiot.com/app/img/dcSolar.png" alt="DCSolar" /></h1>
</div>
</header>
<hr>

<div class="container" style="padding:10px;">
<b>Hi $firstName!</b>
<p style="line-height:2">
TicketNumber: <b>$number</b>.<br>
TicketTitle :<b>$title</b><br>
Action Notes:<b>$notes</b><br>
Login to <a href="https://www.dcsolar.cloubiot.com">DCSolar</a> for further Details.
</p>

<b>Regards,</b><br>
<b>$regards</b>
</div>
<hr>
<footer style="padding:10px" align="center">&copy; 2017 DCSolar</footer>
</div>
</body>
</html>